/* additionall css on top of kpop */

body {
  /* NOTE(longsleep): Required for popper Tooltips which somehow cause scrolling
   * for low height bodies
   */
  overflow: hidden;
}


#bg {
  background-color: white;
  background-image: url(../src/images/app-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 30%;
}

#root, main {
  background-color: white;
}
